name: Tests

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: ["3.9", "3.10", "3.11"]
        include:
          - os: "macos-latest"
            python-version: "3.9"
          - os: "windows-latest"
            python-version: "3.9"

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: pip

      - name: Install project
        run: |
          python -m pip install --upgrade pip
          pip install '.[dev,examples]'

      - name: Test
        run: pytest

      - name: Examples
        run: python examples/check_timesteps.py tests/data
